{% extends 'container.html' %}

{% block content %}
<div >
    <form action="{{ url_for('auth.login') }}" method="POST">
        {{ form.hidden_tag() }}
        
        <label for="email">Email</label>
        {{ form.email() }}

        <label for="password">Password</label>
        {{ form.password() }}

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {{ form.login() }}
    </form>
</div>
{% endblock %}